language: ruby
rvm:
  - 1.9.3
  - 2.0.0
script: "rake spec"
branches:
  only:
    - master
env:
  - PUPPET_VERSION=3.2.3
  - PUPPET_VERSION=2.7.22
matrix:
  exclude:
    # No support for Ruby 2.0 before Puppet 3.2
    - rvm: 2.0.0
      env: PUPPET_VERSION=2.7.22
notifications:
  email: false
gemfile: .gemfile
